@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* Colors  */
:root {
  --text-color: #f1356d;
}
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
a {
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--text-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--text-color);
}
.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview / list  */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.del-btn {
  border: none;
  margin-top: 15px;
  background-color: #f1356d;
  padding: 6px 14px;
  color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
}
.del-btn:hover {
  background-color: #f2f2f2;
  color: #f1356d;
  transition: 0.2s ease;
  border: 1px #f1356d solid;
}
.blog-detail h2 {
  color: #f1356d;
  margin-bottom: 10px;
  font-size: 2rem;
}
.blog-detail div {
  margin: 20px 0;
}
.blog-detail button {
  background: #f1356d;
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
/* Create Section  */
.create {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
.create label {
  text-align: left;
  display: block;
}
.create input,
textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
